@mixin flex($justify-content: start, $align-items: start, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}
@mixin font($font-family, $font-size, $font-weight, $line-height, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}
@mixin position-left($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}
@mixin position-right($top: 0, $right: 0) {
    position: absolute;
    top: $top;
    right: $right;
}