$bg: #1D1F25;
$text-grey-20: #E5E6ED;
$text-grey-40: #A5ADCF;
$text-grey-60: #5D6588;
$text-grey-80: #34384C;
$text-grey-100: #7D7D7D;
$text-red: #FA2256;
$text-red2: #CC2229;
$blue: #1A82FF;
$dark-blue: #246CF9;
$white: #ffffff;
$green-primary: #11CABE;
$dark: #2F324180;
$dark-hex: #21232B;