[data-aos="custom-line1"] {
    & svg path {
        stroke-dasharray: 1012;
        stroke-dashoffset: 1012;
    }
    &.aos-animate svg path {
        stroke-dasharray: 1012;
        stroke-dashoffset: 0;
        transition: all 2s;
    }
}

[data-aos="custom-line2"] {
    & svg path {
        stroke-dasharray: 1055;
        stroke-dashoffset: 1055;
    }
    &.aos-animate svg path {
        stroke-dasharray: 1055;
        stroke-dashoffset: 0;
        transition: all 2s;
    }
}

[data-aos="custom-line3"] {
    & svg path {
        stroke-dasharray: 678;
        stroke-dashoffset: 678;
    }
    &.aos-animate svg path {
        stroke-dasharray: 678;
        stroke-dashoffset: 0;
        transition: all 2s;
    }
}

[data-aos="custom-line4"] {
    & svg path {
        stroke-dasharray: 2500;
        stroke-dashoffset: 2500;
    }
    &.aos-animate svg path {
        stroke-dasharray: 2500;
        stroke-dashoffset: 0;
        transition: all 3s;
    }
}

[data-aos="custom-line5"] {
    & svg path {
        stroke-dasharray: 1191;
        stroke-dashoffset: 1191;
    }
    &.aos-animate svg path {
        stroke-dasharray: 1191;
        stroke-dashoffset: 0;
        transition: all 2s;
    }
}