@import '_vars';
@import '_mixins';

@media screen and (max-width: 1480px) {
    /* Hero */
    .hero__container {
        .hero__image {
            img {
                @include position-left(-10%, -50%);
                transform: none;
            }
        }
    }
    /* Features */
    .features__text-container {
        img {
            left:auto;
            right: 0;
            z-index: -1;
        }
    }
    //Exchange 
    .exchange__container {
        width: 100%;
    }
    .about__container {
        width: 100%;
    }
    .mobile__container {

        width: 100%;
    }
    //Contact
    .contact__container {
        width: 100%;
    }
}



@media screen and (max-width: 1440px) {
    /* Hero */
    .hero > img {
        width: 95%;
    }
    .slider__main-container {
        width: 100%;
    }
    .hero__container {
        padding: 0 30px;
        .hero__image {
            img {
                @include position-left(-10%, -50%);
                transform: none;
            }
        }
    }
}



@media screen and (max-width: 1345px) {
    /* Hero */
    .hero__container {
        padding: 0 30px;
        .hero__image {
            display: none;
        }
    }
    //About
    .about__wrap {
        @include flex(start, center, column-reverse);
    }
    .about__line {
        right: 30%;
    }
    .about__img-block {
        transform: none;
    }
    .mobile__container {
        .vector111 {
            left: auto;
            right: 0;
        }
    }
    .mobile__container {
        .grid__bg {
            width: 100%;
        }
    }
}



@media screen and (max-width: 1158px) {
    .wrapper {
        padding: 0 24px;
        width: 100%;
    }
    /* Hero */
    .header__wrap {
        padding: 24px;
    }
    /* Features */
    .features {
        padding-top: 64px;
    }
    .features__wrap {
        width: 70%;
        @include flex(center, center, column-reverse);
    }
    .features__text-container {
        margin: 0;
        img {
            @include position-left(0, 0);
        }
    }
    .features__card-container {
        margin-top: 40px;
    }
    //Exchange
    .exchange {
        margin-top: 40px;
    }
    .exchange__wrap {
        flex-direction: column;
        align-items: center;
        .exchange__content {
            width: 70%;
            text-align: center;
            p {
                margin: 25px auto 0;
                width: 70%;
            }
        }
    }
    .exchange__converter-container {
        margin: 20px 0 0 0;
    }
    .about {
        padding: 90px 0 0 0;
    }
    .about__line {
        right: 15%;
    }
    .about__content {
        width: 70%;
        margin: 0 auto;
        @include flex(start, center, column);
        & > h2 {
            width: 100%;
            text-align: center;
        }
        & > p {
            width: 70%;
            text-align: center;
        }
    }
    //Media
    .media__wrap {
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .media__content {
        transform: translateY(430px);
    }
    .media__button-container {
        transform: translateY(365px);
        width: 60%;
        @include flex(space-between);
        margin: 0 auto;
    }
    .media__image-container {
        transform: translateY(-190px);
    }
    .media__text-container .media__button-container button:not(:first-child) {
        margin-left: 0px;
    }
    .mobile {
        padding-top: 64px;
    }
    .mobile__wrap {
        @include flex(start, center, column-reverse)
    }
    .mobile__content {
        & > h2 {
            text-align: center;
        }
        .mobile__paragraph {
            width: 70%;
            margin: 16px auto 0;
            text-align: center;
        }
        .mobile__get-app {
            transform: translateY(580px);
            text-align: center;
        }
        .mobile__buttons {
            transform: translateY(580px);
        }
    }
    .mobile__img-block {
        transform: translateY(-140px);
    }
}



@media screen and (max-width: 980px) {
    /* Hero */
    .header__wrap {
        .header__menu {
            display: none;
        }
        .burger__button {
            display: block;
        }
    }
    .hero__container {
        .hero__text {
            width: 100%;
            padding: 0 10%;
            h1 {
                width: auto;
                text-align: center;
            }
            p {
            width: 80%;
                margin: 24px auto 0;
                text-align: center;
            }
            button {
                width: 100%;
            }
        }
    }
    // Features
    .features__text-container {
        @include flex(center, center);
        flex-direction: column;
        h2 {
            text-align: center;
            width: auto;
        }
        p {
            text-align: center;
            width: auto;
        }
        button {
            width: 100%;
            align-self: center;
        }
    }
    //Exchange
    .exchange__content {
        width: 100% !important;
        h2 {
            text-align: center;
            width: auto;
        }
        p {
            text-align: center;
            width: auto;
        }
    }
    .about__img-block {
        transform: none;
        width: 100%;
        img {
            width: 100%;
        }
    }
    //Contact
    .contact__container h2 {
        width: auto;
    }
}



@media screen and (max-width: 840px) {
    /* Hero */
    .hero__container {
        .hero__text {
            width: 100%;
            padding: 0;
            h1 {
                margin-top: 16px;
                font-size: 50px;
            }
            p {
                width: 80%;
                margin: 24px auto 0;
                font-size: 16px;
            }
            button {
                margin-top: 32px;
            }
        }
    }
    .hero {
        overflow: hidden;
        .line__hero {
            width: 100%;
            @include position-left(7%, 0);
            transform: none;
        }
    }
    .about__line {
        right: 0;
    }
}



@media screen and (max-width: 680px) {
    /* Features */
    .features__card-container {
        flex-direction: column;
        .features__column:last-child {
            margin: 16px 0 0 0;
        }
        .features__card:not(:first-child) {
            margin-top: 16px;
        }
    }
    .features__wrap {
        width: 100%;
        overflow: hidden;
    }
    .features__text-container {
        margin: 0;
        img {
            @include position-left(0, 0);
        }
    }
    .features__text-container {
        h2, p {
            text-align: center;
            width: 100%;
        }
        button {
            margin: 24px auto 0;
        }
    }
    .exchange__content {
        .exchange-list__container {
            margin: 24px auto 0;
            width: fit-content;
            .exchange__item {
                &:nth-child(2) {
                    padding: 0;
                }
                &:nth-child(3) {
                    padding: 0;
                }
            }
        }
    }
    .exchange {
        .ellipse {
            @include position-left(275px, 0);
            z-index: -1;
        }
    }
    .exchange__wrap {
        .exchange__content {
            width: 100%;
            p {
                width: 100%;
            }
        }
    }
    .about {
        h2 {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
    .about__content {
        width: 100%;
        & > p {
            width: 100%;
        }
    }

}



@media screen and (max-width: 600px) {
    /* Hero */
    .hero__container {
        padding: 0;
    }
    // .about__img-block {
    //     overflow: hidden;
    //     height: fit-content;
    //     img {
    //         transform: scale(1.2);
    //     }
    // }
    .mobile__img-block {
        width: 100%;
        img {
            width: 100%;
        }
        transform: translateY(-220px)
    }
    .mobile__content {
        .mobile__buttons {
            @include flex(start, center, column);
            gap: 16px;
        }
    }
    .mobile__content .mobile__buttons button:first-child {
        margin-right: 0;
    }
}



@media screen and (max-width: 540px) {
    h2 {
        @include font('Sofia Pro', 28px, 700, 110%, $white);
    }
    h3 {
        @include font('Sofia Pro', 18px, 700, 120%, $white);
    }
    p {
        @include font('Graphik', 14px, 400, 24px, $text-grey-40);
    }
    /* Hero */
    .hero__container {
        .hero__text {
            h1 {
                font-size: 34px;
            }
            p {
                width: 100%;
                font-size: 16px;
            }
        }
    }
    .slider__main-container {
        margin-top: 36px;
        &::before,
        &::after {
            width: 24px;
        }
    }
    .hero {
        overflow: hidden;
        .line__hero {
            width: 500px;
        }
    }
    //Features
    .features__text-container {
        p {
            @include font('Graphik', 14px, 400, 24px, $text-grey-20);
            margin-top: 16px;
            width: 100%;
        }
        button {
            margin-top: 24px;
            @include button(16px, 54.5px);
            @include font('Sofia Pro', 14px, 600, 22.4px, $white);
        }
    }
    .features__text-container {
        img {
            @include position-left(0, 25%);
            width: 100%;
        }
    }
    .features__card {
        padding: 32px 28px !important; //хз почему свойства не применяются без "!important", так что поменяй если знаешь
        h3 {
            font-size: 18px;
            margin-top: 32px !important;
        }
        p {
            font-size: 14px !important;
            margin-top: 16px !important;
        }
    }
    //Exchange
    .exchange__content {
        h2 {
            @include font('Sofia Pro', 28px, 700, 110%, $white);
        }
        p {
            @include font('Graphik', 14px, 400, 24px, $text-grey-20);
        }
        h3 {
            font-size: 18px;
            margin: 0 0 0 16px !important;
        }
        .exchange__item {
            padding: 0 !important;
        }
    }
    .converter {
        width: 330px;
        padding: 24px 16px;
        .convert {
            font-size: 14px !important;
            line-height: 24px !important;
        }
        .converter__rate {
            margin: 0;
        }
        p {
            font-size: 14px;
            margin-top: 24px;
        }
        h3 {
            font-size: 18px;
        }
        span {
            font-size: 16px !important;
            margin: 0 0 0 6px !important;
        }
        a {
            font-size: 12px !important;
        }
        input {
            width: 200px !important;
        }
        .converter__wallet {
            span {
                font-size: 14px !important;
            }
        }
        .converter__button {
            margin-top: 64px !important;
            width: 100% !important;
        }
    }
    .exchange__content {
        .exchange-list__container {
            .exchange__item {
                .exchange__img-block {
                    @include flex(center, center);
                    width: 64px;
                    height: 64px;
                    background: $dark;
                    backdrop-filter: blur(7px);
                    border-radius: 50%;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
                &:not(:first-child) {
                    margin-top: 16px;
                }
            }
        }
    }

    .about__container {
        overflow: hidden;
    }
    .about__line {
        width: 80%;
        left: 35%;
    }
    .about__list {
        .about__item {
            .about__item__img-block {
                height: 72px;
                width: 72px;
                img {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
    .about__list {
        .about__item {
            .about__text-block {
                margin-left: 16px;
                width: calc(100% - 88px);
            }
        }
    }
    //Media
    .media {
        h2 {
            font-size: 28px;
            width: auto;
        }
        #feedback {
            font-size: 20px;
            max-width: 420px;
            margin: 0 auto;
        }
        #author {
            font-size: 16px;
        }
    }
    .media__text-container {
        width: auto;
    }
    .media__image-container {
        width: 328px;
        height: 243px;
    }
    .media__image-container .media__company-circle:nth-child(1) {
        width: 155px;
        height: 155px;
        font-size: 26px;
    }
    .media__image-container .media__company-circle:nth-child(2) {
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .media__image-container .media__company-circle:nth-child(3) {
        width: 117px;
        height: 117px;
        font-size: 20px;
    }
    .media__image-container .media__company-circle:nth-child(4) {
        width: 58px;
        height: 58px;
        font-size: 10px;
    }
    .media__content {
        transform: translateY(290px);
    }
    .media__button-container {
        transform: translateY(225px);
        width: 70%;
    }
    //Mobile
    .mobile__content {
        width: 100%;
    }
    .mobile__img-block {
        transform: translateY(-160px)
    }
}

@media screen and (max-width: 480px) {
    //Mobile
    .mobile__img-block {
        transform: translateY(-200px)
    }
    .mobile__content .mobile__get-app {
        transform: translateY(520px);
    }
    .mobile__content .mobile__buttons {
        transform: translateY(520px);
    }
    .mobile__container .vector111 {
        top: 0;
        width: 70%;
    }
}

@media screen and (max-width: 440px) {
    //Mobile
    .mobile__content .mobile__get-app {
        transform: translateY(460px);
    }
    .mobile__content .mobile__buttons {
        transform: translateY(460px);
    }
}

@media screen and (max-width: 400px) {
    //Mobile
    .mobile__content .mobile__get-app {
        transform: translateY(420px);
    }
    .mobile__content .mobile__buttons {
        transform: translateY(420px);
    }
}

@media screen and (max-width: 375px) {
    /* Hero */
    .logo {
        p {
            display: none;
        }
    }
    //Features
    .features__text-container {
        h2 {
            text-align: center;
            width: 327px;
        }
        p {
            text-align: center;
            width: auto;
        }
        button {
            width: 197px;
            padding: 12px 24px;
        }
    }
    //Mobile
    .mobile__content .mobile__get-app {
        transform: translateY(400px);
    }
    .mobile__content .mobile__buttons {
        transform: translateY(400px);
    }
    .mobile__content .mobile__buttons button {
        width: 100%;
    }
    .mobile__content .mobile__paragraph {
        width: 100%;
    }
}