@import '_vars';
@import '_mixins';



@media screen and (min-width: 1110px) and (max-width: 1440px) {
  .hero > img {
      width: 95%;
  }
  .hero__image img {
      @include position-left(-10%, -10%);
      transform: none;
  }
  .slider__main-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 1110px) {
  .wrapper {
      width: 100%;
  }
}