@import '_vars';
@import '_mixins';

@media screen and (max-width: 1480px) {
  .hero__container {
    padding: 0 30px;
    .hero__image {
        img {
          @include position-left(-10%, -50%);
          transform: none;
        }
    }
  }
}

@media screen and (max-width: 1440px) {
  .hero > img {
      width: 95%;
  }
  .slider__main-container {
    width: 100%;
  }

  .hero__container {
    padding: 0 30px;
    .hero__image {
        img {
            @include position-left(-10%, -50%);
            transform: none;
        }
    }
}

@media screen and (max-width: 1345px) {
  .hero__container {
    padding: 0 30px;
    .hero__image {
      display: none;
    }
  }
}

}
@media screen and (max-width: 1158px) {
  .wrapper {
    padding: 24px;
    width: 100%;
  }
}

@media screen and (min-width: 981px) {
  .burger__menu {
    right: -100%;
  }
}

@media screen and (max-width: 980px) {
  .header__wrap {
    .header__menu {
      display: none;
    }
    .burger__button {
        display: block;
    }
  }
  .hero__container {
    .hero__text {
      width: 100%;
      padding: 0 10%;
        h1 {
          width: auto;
          text-align: center;
        }
        p {
          width: 80%;
          margin: 24px auto 0;
          text-align: center;
        }
        button {
          width: 100%;
        }
    }
  }
}
@media screen and (max-width: 840px) {
  .hero__container {
    .hero__text {
      width: 100%;
      padding: 0;
        h1 {
          margin-top: 16px;
          font-size: 50px;
        }
        p {
          width: 80%;
          margin: 24px auto 0;
          font-size: 16px;
        }
        button {
          margin-top: 32px;
        }
    }
  }
  .hero {
    overflow: hidden;
    .line__hero {
      width: 100%;
      @include position-left(7%, 0);
      transform: none;
    }
  }
}
@media screen and (max-width: 600px) {
  .hero__container {
    padding: 0;
  }
}
@media screen and (max-width: 540px) {
  .hero__container {
    .hero__text {
        h1 {
          font-size: 34px;
        }
        p {
          width: 100%;
          font-size: 16px;
        }
    }
  }
  .slider__main-container {
    margin-top: 36px;
    &::before,
    &::after {
      width: 24px;
    }
  }
  .hero {
    overflow: hidden;
    .line__hero {
      width: 500px;
    }
  }
}
@media screen and (max-width: 375px) {
  .logo {
    p {
      display: none;
    }
  }
}