<section class="about">
    <div class="about__container">
        <div class="svg-box" data-aos="custom-line3">
            <svg width="345" height="286" viewBox="0 0 345 286" fill="none" xmlns="http://www.w3.org/2000/svg" class="about__line">
                <path
                    d="M359.5 1C359.5 1 135.478 54.3904 182 125C201.678 154.867 249.331 138.862 260 173C274.812 220.392 195 263 169.5 271.5C144 280 67.551 300.372 27.5 264.5C13.7835 252.215 7.37039 242.777 1 225.5"
                    stroke="url(#paint0_linear_298_43)" stroke-width="2" />
                <defs>
                    <linearGradient id="paint0_linear_298_43" x1="19" y1="292" x2="359.417" y2="294.87"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF59F8" stop-opacity="0" />
                        <stop offset="0.345487" stop-color="#AE72FF" />
                        <stop offset="0.491082" stop-color="#90E9ED" />
                        <stop offset="0.683074" stop-color="#5CD167" />
                        <stop offset="0.99968" stop-color="#FFEE00" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <script>
            //var path = document.querySelector('.about__line path');
                //console.log(path.getTotalLength());
        </script>
        <div class="wrapper about__wrap">
            <div class="about__img-block">
                <img src="img/about.png" alt="about" data-aos="fade-right">
            </div>
            <div class="about__content">
                <h2 data-aos="fade-left">We are the most trusted cryptocurrency platform.</h2>
                <p data-aos="fade-left">We believe Cryptolly is here to stay — and that a future worth building is one which opens its doors and invites everyone in.</p>
                <div class="about__list">
                    <div class="about__item" data-aos="fade-down" data-aos-delay="100">
                        <div class="about__item__img-block">
                            <img src="img/Show.svg" alt="Show" class="hyperimg">
                        </div>
                        <div class="about__text-block">
                            <h3>Clarity</h3>
                            <p>We help you make sense of the coins, the terms, the dense charts and market changes.</p>
                        </div>
                    </div>
                    <div class="about__item" data-aos="fade-down" data-aos-delay="200">
                        <div class="about__item__img-block">
                            <img src="img/Shield.svg" alt="Shield">
                        </div>
                        <div class="about__text-block">
                            <h3>Confidence</h3>
                            <p>Our markets are always up to date, sparking curiosity with real-world relevance.</p>
                        </div>
                    </div>
                    <div class="about__item" data-aos="fade-down" data-aos-delay="300">
                        <div class="about__item__img-block">
                            <img src="img/Users.svg" alt="Users">
                        </div>
                        <div class="about__text-block">
                            <h3>Community</h3>
                            <p>We supports the crypto community, putting data in the hands which need it most.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>