<section class="about">
    <div class="about__container">
        <img src="img/Vector14.svg" alt="Vector14" class="about__line">
        <div class="wrapper about__wrap">
            <div class="about__img-block">
                <img src="img/about.png" alt="about">
            </div>
            <div class="about__content">
                <h2>We are the most trusted cryptocurrency platform.</h2>
                <p>We believe Cryptolly is here to stay — and that a future worth building is one which opens its doors and invites everyone in.</p>
                <div class="about__list">
                    <div class="about__item">
                        <div class="about__item__img-block">
                            <img src="img/Show.svg" alt="Show" class="hyperimg">
                        </div>
                        <div class="about__text-block">
                            <h3>Clarity</h3>
                            <p>We help you make sense of the coins, the terms, the dense charts and market changes.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__item__img-block">
                            <img src="img/Shield.svg" alt="Shield">
                        </div>
                        <div class="about__text-block">
                            <h3>Confidence</h3>
                            <p>Our markets are always up to date, sparking curiosity with real-world relevance.</p>
                        </div>
                    </div>
                    <div class="about__item">
                        <div class="about__item__img-block">
                            <img src="img/Users.svg" alt="Users">
                        </div>
                        <div class="about__text-block">
                            <h3>Community</h3>
                            <p>We supports the crypto community, putting data in the hands which need it most.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>