<section class="contact">
    <div class="contact__container" data-aos="fade-in">
        <img src="img/line-bg.svg" alt="line-bg" class="contact__line-bg">
        <div class="contact__content-container">
            <p>Ready to start trading cryptocurrency?</p>
            <h2>New users can earn up to $80 in crypto rewards.</h2>
            <form method="POST" action="index.html">
                <div class="contact__form">
                    <input type="email" name="email" placeholder="Enter your email address">
                    <button>
                        Get Started
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>