<section class="exchange">
    <div class="exchange__container">
        <img src="img/Ellipse.svg" alt="Ellipse" class="ellipse">
        <div class="wrapper exchange__wrap">
            <div class="exchange__content">
                <h2>One click, instant payout with credit or debit card.</h2>
                <p>Become a crypto owner in minutes using your debit or credit card and quickly purchase top cryptocurrencies.</p>
                <div class="exchange-list__container">
                    <div class="exchange__item">
                        <div class="exchange__img-block">
                            <img src="img/User.svg" alt="User">
                        </div>
                        <h3>Create an account</h3>
                    </div>
                    <div class="exchange__item">
                        <div class="exchange__img-block">
                            <img src="img/Bank.svg" alt="Bank">
                        </div>
                        <h3>Link your bank account</h3>
                    </div>
                    <div class="exchange__item">
                        <div class="exchange__img-block">
                            <img src="img/wallet.svg" alt="wallet">
                        </div>
                        <h3>Start buying & selling</h3>
                    </div>
                </div>
            </div>
            <div class="exchange__converter-	">
                <div class="converter">
                    <div class="converter__choice">
                        <button class="convert active" id="buy">Buy</button>
                        <button class="convert" id="sell">Sell</button>
                    </div>
                    <p>1 BTC is roughly</p>
                    <div class="converter__rate">
                        <h3>28,964.90</h3>
                        <span>USD</span>
                        <a href="">Claim <strong>$10</strong> in Rewards</a>
                    </div>
                    <div class="converter__row-container">
                        <div class="converter__row" id="row1">
                            <input type="text" value="4.000" name="usdInput">
                            <div class="converter_wallet">
                                <div class="converter__item">
                                    <img id="wallet__logo"  src="img/USD.svg" alt="USD">
                                    <span>USD</span>
                                </div>
                                <div class="converter__arrow">
                                    <img src="img/Arrow.svg" alt="Arrow">
                                </div>
                            </div>
                        </div>
                        <div class="converter__row" id="row2">
                            <input type="text" value="0.000138" name="bitcoinInput" readonly>
                            <div class="converter_wallet">
                                <div class="converter__item">
                                    <img id="wallet__logo" src="img/Bitcoin.svg" alt="Bitcoin">
                                    <span>BTC</span>
                                </div>
                                <div class="converter__arrow">
                                    <img src="img/Arrow.svg" alt="Arrow">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="converter__button">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</section>