<section class="features">
    <div class="wrapper features__wrap">
        <div class="features__card-container">
            <div class="features__column">
                <div class="features__card" data-aos="fade-down-right">
                    <div class="card__img-block">
                        <img src="img/Graph.svg" alt="Graph">
                    </div>
                    <h3>Portfolio Manager</h3>
                    <p>Buy and sell popular digital currencies, keep track of them in the one place.</p>
                </div>
                <div class="features__card" data-aos="fade-up-right">
                    <div class="card__img-block">
                        <img src="img/Smartphone.svg" alt="Smartphone">
                    </div>
                    <h3>Mobile Apps</h3>
                    <p>Stay on top of the markets with the Cryptolly app for Android or iOS.</p>
                </div>
            </div>
            <div class="features__column">
                <div class="features__card" data-aos="fade-right">
                    <div class="card__img-block">
                        <img src="img/Lock.svg" alt="Lock">
                    </div>
                    <h3>Vault protection</h3>
                    <p>For added security, store your funds in a vault with time delayed withdrawals.</p>
                </div>
            </div>
        </div>
        <div class="features__text-container">
            <img src="img/Vector12.svg" alt="">
            <h2>The most trusted cryptocurrency platform.</h2>
            <p>Cryptolly has a variety of features that make it the best place to start trading</p>
            <button>Let’s Trade Now</button>
        </div>
    </div>
</section>