    <div class="wrapper footer__wrap">
        <div class="footer__main-container">
            <div class="footer__item">
                <div class="logo">
                    <img src="img/Logo.svg" alt="logo">
                    <p>Cryptolly<span>.</span></p>
                </div>
                <p>Your best crypto partner.</p>
                <div class="footer__socials">
                    <a href="#">
                        <img src="img/LinkedIn.svg" alt="LinkedIn">
                    </a>
                    <a href="#">
                        <img src="img/Facebook.svg" alt="LinkedIn">
                    </a>
                    <a href="#">
                        <img src="img/Instagram.svg" alt="LinkedIn">
                    </a>
                </div>
            </div>
            <div class="footer__item">
                <h4>Quick Links.</h4>
                <div class="footer__links-container">
                    <div class="footer__links-col">
                        <a href="#">Buy/Sell</a>
                        <a href="#">Trade Now</a>
                        <a href="#">Pricing</a>
                    </div>
                    <div class="footer__links-col">
                        <a href="#">Wallets</a>
                        <a href="#">Company</a>
                    </div>
                </div>
            </div>
            <div class="footer__item">
                <h4>Submit for updates.</h4>
                <p>Subscribe to get update and notify our exchange and products</p>
                <form method="POST" action="index.html">
                    <div class="contact__form">
                        <input type="email" name="email" placeholder="Enter your email address">
                        <button>
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer__copyright">
            <p>Cryptolly ©. All rights reserved.</p>
            <div class="copyright__left">
                <p>Term of Service</p>
                <div class="vertical-line"></div>
                <p>Privacy Policy</p>
            </div>
        </div>
    </div>
</footer>