<section class="hero unscrollable">
    <img src="img/GridBg.svg" alt="grid_bg" class="grid__bg">
    <svg xmlns="http://www.w3.org/2000/svg" width="1380" height="650" fill="none" class="line__hero">
        <path stroke="url(#a)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1378.95-17.466c-43.03 199.636-84.03 367.659-173.18 403.848-89.15 36.188-155.98-63.684-219.646-46.845-63.669 16.839-81.065 75.484-88.988 128.472-7.924 52.987-24.217 157.278-101.375 177.685-77.158 20.407-141.2-68.942-171.646-105.477-30.446-36.534-105.177-109.545-177.479-90.422-72.302 19.122-81.017 73.484-151.166 85.467-70.149 11.983-114.18-56.272-185.403-37.435-71.223 18.837-43.133 72.658-109.5 90.21"/>
        <defs>
            <linearGradient id="a" x1="1419.5" x2="-58.992" y1="-51.5" y2="362.842" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF59F8" stop-opacity="0"/>
                <stop offset=".345" stop-color="#AE72FF"/>
                <stop offset=".491" stop-color="#90E9ED"/>
                <stop offset=".683" stop-color="#5CD167"/>
                <stop offset="1" stop-color="#FE0" stop-opacity="0"/>
            </linearGradient>
        </defs>
    </svg>
    <div class="burger__menu">
        <nav>
            <ul>
                <li><a href="#">Exchange</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Wallet</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        <div class="menu__button-container">
            <button>Sign in</button>
            <button>Get Started</button>
        </div>
    </div>
    <header>
        <div class="wrapper header__wrap">
            <div class="logo" data-aos="fade-right">
                <img src="img/Logo.svg" alt="logo">
                <p>Cryptolly<span>.</span></p>
            </div>
            <div class="header__menu" data-aos="fade-left">
                <nav>
                    <ul>
                        <li><a href="#">Exchange</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Wallet</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </nav>
                <div class="menu__button-container">
                    <button>Sign in</button>
                    <button>Get Started</button>
                </div>
            </div>
            <div class="burger__button" data-aos="fade-left">
                <button onclick="burgerMenuToggler()">
                    <img src="img/burgerButton.svg" alt="burger">
                </button>
            </div>
        </div>
    </header>
    <div class="hero__main-container">
        <div class="wrapper hero__wrap">
            <div class="hero__container">
                <div class="hero__text" data-aos="fade-right">
                    <h1>A trusted and secure cryptocurrency exchange.</h1>
                    <p>Your guide to the world of an open financial system. Get started with the easiest and most secure platform to buy and trade cryptocurrency.</p>
                    <button class="button">
                        Get Started Now
                    </button>
                </div>
                <div class="hero__image" data-aos="fade-left">
                    <img src="img/hero-img.png" alt="hero">
                </div>
            </div>
        </div>
    </div>
    <div class="slider__main-container" data-aos="fade-up">
        <div class="slider">
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_1.svg" alt="logo">
                        <p>Bitcoin</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_1.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowUp.svg" alt="arrow">
                            <p>2.11%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 53,260.20</h3>
                    <p>BTC</p>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_2.svg" alt="logo">
                        <p>Ethereum</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_2.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowDown.svg" alt="arrow">
                            <p class="slider__minus">0.32%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 32,231.57</h3>
                    <p>ETH</p>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_3.svg" alt="logo">
                        <p>Tether</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_3.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowUp.svg" alt="arrow">
                            <p>1.34%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 0.9999</h3>
                    <p>USDT</p>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_4.svg" alt="logo">
                        <p>Binance</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_4.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowDown.svg" alt="arrow">
                            <p class="slider__minus">0.67%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 0,2567</h3>
                    <p>XRP</p>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_1.svg" alt="logo">
                        <p>Bitcoin</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_1.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowUp.svg" alt="arrow">
                            <p>2.11%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 53,260.20</h3>
                    <p>BTC</p>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_2.svg" alt="logo">
                        <p>Ethereum</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_2.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowDown.svg" alt="arrow">
                            <p class="slider__minus">0.32%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 32,231.57</h3>
                    <p>ETH</p>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_3.svg" alt="logo">
                        <p>Tether</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_3.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowUp.svg" alt="arrow">
                            <p>1.34%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 0.9999</h3>
                    <p>USDT</p>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__info">
                    <div class="slider__left">
                        <img src="img/logos/Logo_4.svg" alt="logo">
                        <p>Binance</p>
                    </div>
                    <div class="slider__right">
                        <img src="img/graph/Graph_4.svg" alt="">
                        <div class="slider__indicator">
                            <img src="img/icons/ArrowDown.svg" alt="arrow">
                            <p class="slider__minus">0.67%</p>
                        </div>
                    </div>
                </div>
                <div class="slider__balance">
                    <h3>USD 0,2567</h3>
                    <p>XRP</p>
                </div>
            </div>
        </div>
        <div class="slider__cover"></div>
    </div>
    <div class="slider__indicator-container">
        <div class="indicator-item"></div>
        <div class="indicator-item"></div>
        <div class="indicator-item"></div>
        <div class="indicator-item"></div>
        <div class="indicator-active-item"></div>
    </div>
</section>