<section class="mobile">
    <div class="mobile__container">
        <img src="img/GridBg.svg" alt="grid_bg" class="grid__bg">
        <img src="img/Vector111.svg" alt="Vector111" class="vector111" data-aos="fade-left">
        <div class="wrapper mobile__wrap">
            <div class="mobile__img-block">
                <img src="img/Phone.png" alt="" data-aos="fade-right">
            </div>
            <div class="mobile__content">
                <h2>Build your crypto portfolio anywhere.</h2>
                <p class="mobile__paragraph">A powerful cryptocurrency exchange in your pocket. Buy, sell and trade crypto on the go.</p>
                <p class="mobile__get-app">Get the Cryptolly Wallet Mobile App Now!</p>
                <div class="mobile__buttons">
                    <button>
                        <img src="img/google-play.svg" alt="">
                        <div class="mobile__button__txt-block">
                            <p class="button__first-txt">GET IT ON</p>
                            <p class="button__second-txt">Google Play</p>
                        </div>
                    </button>
                    <button>
                        <img src="img/app-store.svg" alt="">
                        <div class="mobile__button__txt-block">
                            <p class="button__first-txt">Download on the</p>
                            <p class="button__second-txt">App Store</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>